<% content_for :title do %>
  <%= @entry.meal_type.downcase %> &ndash; <%= DateTime.now.to_s(:nice_date).downcase %>
<% end %>

<!-- <%= params %> -->


<div class="columns mt-6 is-centered">
  <div class="column is-one-third">
    <nav class="panel is-link">
      <p class="panel-heading">
        <%= @entry.meal_type.downcase %> | <%= @entry.category.title if @entry.category.presence %>
      </p>
      <div class="panel-block">
        calories: <%= @entry.calories %>
      </div>
      <div class="panel-block">
        proteins: <%= @entry.proteins %> g
      </div>
      <div class="panel-block">
        carbs: <%= @entry.carbs %> g
      </div>
      <div class="panel-block">
        fats: <%= @entry.fats %> g
      </div>
    </nav>
    <div class="columns is-mobile">
      <div class="column">
        <%= link_to "edit", edit_entry_path(@entry), class: "button is-gray" %>
        <%= link_to "delete", entry_path(@entry), method: :delete, data: { confirm: "are you sure?" }, class: "button is-gray" %>
        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
        <!-- @entry from entries controller - before_action - show - set_entry -->
      </div>
      <div class="column">
        
      </div>
    </div>
  </div>
</div>
