<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div class="message is-danger">
      <div class="message-header">
        <p><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</p>
      </div>
      <div class="message-body">
        <ul>
          <% entry.errors.each do |error| %>
            <li><%= error.full_message.downcase %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title, class: "label is-lowercase" %>
    <%= form.text_field :title, class: "input is-lowercase" %>
  </div>
  <div class="actions">
    <%= form.submit class: "button is-success is-lowercase" %>
  </div>
<% end %>
